<footer class="mt-6 mb-4">
  <div class="flex flex-row justify-evenly flex-wrap">
    <div>
      <a class="text-blue-900 underline">
        Contact us
      </a>
    </div>
    <div class="flex flex-row">
      <div>
        <span class="text-blue-900 opacity-50">
          With the support
        </span>
      </div>
      <div>
        <a href="https://epam.com/" target="blank" rel="noopener">
          <img src="/assets/epam.png" width="100" alt="EPAM"/>
        </a>
      </div>
    </div>

  </div>

</footer>
