<div class="flex flex-row mx-4 border-2 border-indigo-400 my-4 p-4">
  <div class="flex-shrink-0 w-3/4 flex-col">
    <div class="text-lg font-bold h-10"> {{courseCard.title}}</div>
    <div class="text-sm leading-normal">{{courseCard.course_description}}</div>
  </div>
  <div class="flex flex-col ml-4">
    <div class="font-medium h-8">Authors:
      <span *ngFor = "let author of courseCard.list_authors;
       let i = index" class="font-normal">{{author}}<span *ngIf = "i !== courseCard.list_authors.length - 1">, </span>
      </span>
    </div>
    <div class="font-medium h-8">Duration:
      <span class="font-normal">{{courseCard.duration * 1000  | date:'mm:ss'}} hours </span>
    </div>
    <div class="font-medium h-8">Created:
      <span class="font-normal">{{courseCard.creation_date}}</span>
    </div>
    <ng-content></ng-content>
  </div>
</div>
