<div *ngIf="editable" class="flex flex-row items-center">
  <button class=" w-32 py-1 bg-blue-500 rounded-md focus:ring-2 hover:bg-blue-600 active:bg-blue-700 text-white px-4">{{buttonText}}</button>
  <button [attr.name]="edit" class="focus:ring-2 border-2 hover:bg-blue-600 active:bg-blue-700 border-indigo-700 rounded-sm ml-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 " viewBox="0 0 20 20" fill="currentColor">
      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
    </svg>
  </button>
  <button [attr.name]="annihilate" class="group focus:ring-2 border-2 hover:bg-blue-600 active:bg-blue-700 border-indigo-700 rounded-sm ml-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
  </button>
</div>

<button *ngIf="!editable" class="mx-4 py-1 bg-blue-500 rounded-md focus:ring-2 hover:bg-blue-600 active:bg-blue-700 text-white px-4">{{buttonText}}</button>
